{% comment %} 
  Renders a collection card
 
  Accepts: 
  - card_collection: {Object} Collection Liquid object 
  - media_aspect_ratio: {String} Size of the product image card. Values are "square" and "portrait". Default is "square" (optional) 
  - columns: {Number} 
  - extend_height: {Boolean} Card height extends to available container space. Default: false (optional) 
  - wrapper_class: {String} Wrapper class for card (optional) 
  - placeholder_image: {String} Placeholder image when collection is empty (optional)
 
  Usage:
  {% render 'card-collection' %} 
{% endcomment %}

{%- liquid
  assign ratio = 1
  if card_collection.featured_image and media_aspect_ratio == 'portrait'
    assign ratio = 0.8
  elsif card_collection.featured_image and media_aspect_ratio == 'adapt'
    assign ratio = card_collection.featured_image.aspect_ratio
  endif
  if ratio == 0 or ratio == null
    assign ratio = 1
  endif
  assign card_color_scheme = settings.card_color_scheme
  assign card_style = settings.card_style
  if wrapper_class == null or wrapper_class == 'none'
    assign card_color_scheme = settings.collection_card_color_scheme
    assign card_style = settings.collection_card_style
  endif
-%}

<div class="card-wrapper animate-arrow {% if wrapper_class and wrapper_class != 'none' %}{{ wrapper_class }}{% else %}collection-card-wrapper{% endif %}">
  <a href="{{ card_collection.url }}" class="card animate-arrow link card--media">
    <div class="card--stretch card-colored">
      <div>
        <div class="media media--square overflow-hidden">
          {%- if card_collection.featured_image -%}
            <img
              srcset="
                {%- if card_collection.featured_image.width >= 165 -%}{{ card_collection.featured_image | image_url: width: 165 }} 165w,{%- endif -%}
                {%- if card_collection.featured_image.width >= 330 -%}{{ card_collection.featured_image | image_url: width: 330 }} 330w,{%- endif -%}
                {%- if card_collection.featured_image.width >= 535 -%}{{ card_collection.featured_image | image_url: width: 535 }} 535w,{%- endif -%}
                {%- if card_collection.featured_image.width >= 720 -%}{{ card_collection.featured_image | image_url: width: 720 }} 720w,{%- endif -%}
                {%- if card_collection.featured_image.width >= 940 -%}{{ card_collection.featured_image | image_url: width: 940 }} 940w,{%- endif -%}
                {%- if card_collection.featured_image.width >= 1440 -%}{{ card_collection.featured_image | image_url: width: 1440 }} 1440w,{%- endif -%}"
              src="{{ card_collection.featured_image | image_url: width: 533 }}"
              sizes="(min-width: 1400px)535px, (min-width: 750px) calc((100vw - 10rem) / 2), calc(100vw - 3rem)"
              alt="{{ card_collection.featured_image.alt | escape }}"
              height="{{ card_collection.featured_image.height }}"
              width="{{ card_collection.featured_image.width }}"
              loading="lazy"
              class="motion-reduce">
          {%- else -%}
            {{ placeholder_image | placeholder_svg_tag: 'placeholder-svg' }}
          {%- endif -%}
        </div>
      </div>

      <div class="card__text card-colored card__text-hover">
        <div class="overlay-card"></div>
        <h3 class="card__heading">
          {%- if card_collection.title != blank -%}
            {{- card_collection.title | escape -}}
          {%- else -%}
            {{ 'onboarding.collection_title' | t }}
          {%- endif -%}
        </h3>
      </div>
    </div>
  </a>
</div>