<gf-broadcast>
  <details
    id="Details-HeaderMenu-{{ menu_link.handle }}"
    class="megamenu pointer header__menu-item header__menu-item--parent"
  >
    <summary id="HeaderMenu-{{ menu_link.handle }}" class="header__menu-item list-menu__item link focus-inset">
      <span
        class="
          {% if menu_link.child_active %}header__active-menu-item
          {% endif %} h6
        "
      >
        {{- menu_link.title | escape -}}
      </span>
    </summary>

    <div class="broadcast-menu__content gradient motion-reduce">
      <div class="container container--full-width flex jcb">
        <ul class="broadcast-menu__list" role="list">
          {%- if menu_link.title == 'Shop' -%}
            <li class="broadcast-menu__category">
              <a href="/collections/all" class="h6 link--text"> Collections</a>
            </li>
            {%- for childlink in menu_link.links -%}
              <li>
                <a href="{{ childlink.url }}" class="broadcast-menu__link link--text">
                  {{ childlink.title }}
                </a>
              </li>
            {%- endfor -%}
          {%- elsif menu_link.title == 'Drops' -%}
            <li class="broadcast-menu__category">
              <a href="/collections/drops" class="h6 link--text"> Drops </a>
            </li>
            {%- for childlink in menu_link.links -%}
              <li>
                <a href="{{ childlink.url }}" class="broadcast-menu__link link--text">
                  {{ childlink.title }}
                </a>
              </li>
            {%- endfor -%}
          {%- else -%}
            {%- for childlink in menu_link.links -%}
              <li>
                <a href="{{ childlink.url }}" class="broadcast-menu__link link--text">
                  {{ childlink.title }}
                </a>
              </li>
            {%- endfor -%}
          {%- endif -%}
        </ul>
        <div class="broadcast-menu__marketing">
          {%- for block in section.blocks -%}
            {%- if block.type == 'marketing' -%}
              {% render 'card-marketing',
                title: block.settings.title,
                image_url: block.settings.image_url,
                link: block.settings.link
              %}
            {%- endif -%}
          {%- endfor -%}
        </div>
      </div>
    </div>
  </details>
</gf-broadcast>

<style></style>
